/* Reset dasar untuk margin dan padding */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

/* Pengaturan font dan background dasar */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

/* Container utama untuk halaman */
.main-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Bagian Header */
.portfolio-header {
    border-bottom: 2px solid #333;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.portfolio-header .profile-photo {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.portfolio-header .profile-photo img {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Membuat foto menjadi lingkaran */
    border: 4px solid #333;
}

.portfolio-header h1 {
    font-size: 32px;
    margin-bottom: 5px;
}

.portfolio-header p {
    font-size: 18px;
    color: #777;
}

/* Bagian Tentang Saya */
.about, .projects, .contact {
    margin-bottom: 20px;
    text-align: left;
}

.about h2, .projects h2, .contact h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
}

/* Bagian Proyek */
.project {
    margin-bottom: 10px;
}

.project h3 {
    font-size: 20px;
    color: #333;
    margin-top: 10px;
}

.project p {
    font-size: 14px;
    color: #555;
}

.project ul {
    font-size: 14px;
    margin-left: 20px;
    margin-top: 10px;
    list-style-type: disc;
}

/* Bagian Kontak */
.contact p {
    margin-bottom: 5px;
    color: #555;
}

/* Bagian Pengalaman Kerja */
.experience {
    margin-bottom: 20px;
    text-align: left;
}

.experience h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
}

.job {
    margin-bottom: 20px;
}

.job h3 {
    font-size: 20px;
    color: #333;
    margin-top: 10px;
    margin-bottom: 5px;
}

.date {
    font-size: 14px;
    color: #777;
    margin-bottom: 5px;
    display: block;
}

.job p {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

.job-description {
    margin-top: 10px;
    font-style: italic;
    color: #555;
}

.job ul {
    margin-left: 20px;
    margin-top: 10px;
    list-style-type: disc;
}

.job li {
    font-size: 14px;

    margin-bottom: 5px;
    color: #555;
}

/* Bagian Keterampilan (Skills) */
.skills {
    margin-bottom: 20px;
    text-align: left;
}

.skills h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
}

.skills ul {
    margin-left: 20px;
    list-style-type: disc;
}

.skills li {
    margin-bottom: 5px;
    color: #555;
}
